.card-header {
  display: inline-flex;
}

.form-group {
  margin-bottom: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.ReactModal__Content {
  max-width: 100%;
  width: 500px;
}

.prompt--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .card-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn--close {
  color: red !important;
  font-weight: bold;
}
